{% comment %}
  Renders a header search modal. Should be used with 'header.liquid'

  Accepts:
  - input_id: {String} Id for the search input element (required)

  Usage:
  {% render 'header-search', input_id: 'My-Id'%}
{% endcomment %}

<details-modal class="header__search search_desc">
  <div class="search-modal__content{% if settings.inputs_shadow_vertical_offset != 0 and settings.inputs_shadow_vertical_offset < 0 %} search-modal__content-top{% else %} search-modal__content-bottom{% endif %}" tabindex="-1">
        {%- if settings.predictive_search_enabled -%}
          <predictive-search class="search-modal__form" data-loading-text="{{ 'accessibility.loading' | t }}">
        {%- else -%}
          <search-form class="search-modal__form">
        {%- endif -%}
            <form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form">
              <div class="field">
                <input class="search__input field__input"
                  id="{{ input_id }}"
                  type="search"
                  name="q"
                  value="{{ search.terms | escape }}"
                  placeholder="{{ 'general.search.search' | t }}"
                  {%- if settings.predictive_search_enabled -%}
                    role="combobox"
                    aria-expanded="false"
                    aria-owns="predictive-search-results"
                    aria-controls="predictive-search-results"
                    aria-haspopup="listbox"
                    aria-autocomplete="list"
                    autocorrect="off"
                    autocomplete="off"
                    autocapitalize="off"
                    spellcheck="false"
                  {%- endif -%}
                >
                <label class="field__label" for="{{ input_id }}">{{ 'general.search.search' | t }}</label>
                <input type="hidden" name="options[prefix]" value="last">
                <button type="reset" class="reset__button field__button{% if search.terms == blank %} hidden{% endif %}" aria-label="{{ 'general.search.reset' | t }}">
                  <svg class="icon icon-close" aria-hidden="true" focusable="false">
                    <use xlink:href="#icon-reset">
                  </svg>
                </button>
                <button class="search__button field__button" aria-label="{{ 'general.search.search' | t }}">
                  <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10.7915 6.33325C10.7915 5.98853 10.7236 5.64719 10.5917 5.32871C10.4597 5.01023 10.2664 4.72085 10.0226 4.4771C9.77888 4.23334 9.4895 4.03999 9.17102 3.90807C8.85254 3.77615 8.5112 3.70825 8.16648 3.70825C7.82176 3.70825 7.48041 3.77615 7.16193 3.90807C6.84345 4.03999 6.55408 4.23334 6.31032 4.4771C6.06657 4.72085 5.87321 5.01023 5.74129 5.32871C5.60937 5.64719 5.54148 5.98853 5.54148 6.33325C5.54148 7.02945 5.81804 7.69712 6.31032 8.18941C6.8026 8.68169 7.47028 8.95825 8.16648 8.95825C8.86267 8.95825 9.53035 8.68169 10.0226 8.18941C10.5149 7.69712 10.7915 7.02945 10.7915 6.33325ZM8.16648 1.95825C8.84869 1.95832 9.52143 2.11793 10.131 2.42434C10.7405 2.73074 11.2699 3.17543 11.677 3.72291C12.084 4.27038 12.3574 4.90546 12.4752 5.57741C12.5931 6.24936 12.5522 6.93956 12.3558 7.59289C12.1593 8.24621 11.8129 8.84454 11.344 9.34009C10.8751 9.83565 10.2969 10.2147 9.6554 10.4469C9.01394 10.6792 8.32706 10.7582 7.64962 10.6777C6.97218 10.5971 6.32296 10.3593 5.75381 9.98317L2.95206 12.7855C2.78791 12.9496 2.56528 13.0419 2.33314 13.0419C2.10101 13.0419 1.87837 12.9496 1.71423 12.7855C1.55008 12.6214 1.45786 12.3987 1.45786 12.1666C1.45786 11.9344 1.55008 11.7118 1.71423 11.5477L4.51656 8.74592C4.08065 8.08652 3.83153 7.32134 3.79568 6.5317C3.75982 5.74205 3.93857 4.95745 4.31293 4.26126C4.68729 3.56507 5.24327 2.98331 5.92179 2.5778C6.60031 2.1723 7.37602 1.9582 8.16648 1.95825Z" fill="#5F6062"/>
                  </svg>
                </button>
              </div>

              {%- if settings.predictive_search_enabled -%}
                <div class="predictive-search predictive-search--header" tabindex="-1" data-predictive-search>
                  <div class="predictive-search__loading-state">
                    <svg aria-hidden="true" focusable="false" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                      <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                    </svg>
                  </div>
                </div>

                <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
              {%- endif -%}
            </form>
          {%- if settings.predictive_search_enabled -%}
            </predictive-search>
          {%- else -%}
            </search-form>
          {%- endif -%}
        <button type="button" class="search-modal__close-button modal__close-button link link--text focus-inset" aria-label="{{ 'accessibility.close' | t }}" style="display:none;">
          <svg class="icon icon-close" aria-hidden="true" focusable="false">
            <use href="#icon-close">
          </svg>
        </button>
      </div>
  <details  style="display:none;">
    <summary class="header__icon header__icon--search header__icon--summary link focus-inset modal__toggle" aria-haspopup="dialog" aria-label="{{ 'general.search.search' | t }}">
      <span>
        <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M10.7915 6.33325C10.7915 5.98853 10.7236 5.64719 10.5917 5.32871C10.4597 5.01023 10.2664 4.72085 10.0226 4.4771C9.77888 4.23334 9.4895 4.03999 9.17102 3.90807C8.85254 3.77615 8.5112 3.70825 8.16648 3.70825C7.82176 3.70825 7.48041 3.77615 7.16193 3.90807C6.84345 4.03999 6.55408 4.23334 6.31032 4.4771C6.06657 4.72085 5.87321 5.01023 5.74129 5.32871C5.60937 5.64719 5.54148 5.98853 5.54148 6.33325C5.54148 7.02945 5.81804 7.69712 6.31032 8.18941C6.8026 8.68169 7.47028 8.95825 8.16648 8.95825C8.86267 8.95825 9.53035 8.68169 10.0226 8.18941C10.5149 7.69712 10.7915 7.02945 10.7915 6.33325ZM8.16648 1.95825C8.84869 1.95832 9.52143 2.11793 10.131 2.42434C10.7405 2.73074 11.2699 3.17543 11.677 3.72291C12.084 4.27038 12.3574 4.90546 12.4752 5.57741C12.5931 6.24936 12.5522 6.93956 12.3558 7.59289C12.1593 8.24621 11.8129 8.84454 11.344 9.34009C10.8751 9.83565 10.2969 10.2147 9.6554 10.4469C9.01394 10.6792 8.32706 10.7582 7.64962 10.6777C6.97218 10.5971 6.32296 10.3593 5.75381 9.98317L2.95206 12.7855C2.78791 12.9496 2.56528 13.0419 2.33314 13.0419C2.10101 13.0419 1.87837 12.9496 1.71423 12.7855C1.55008 12.6214 1.45786 12.3987 1.45786 12.1666C1.45786 11.9344 1.55008 11.7118 1.71423 11.5477L4.51656 8.74592C4.08065 8.08652 3.83153 7.32134 3.79568 6.5317C3.75982 5.74205 3.93857 4.95745 4.31293 4.26126C4.68729 3.56507 5.24327 2.98331 5.92179 2.5778C6.60031 2.1723 7.37602 1.9582 8.16648 1.95825Z" fill="#5F6062"/>
        </svg>
        <svg class="modal__toggle-close icon icon-close" aria-hidden="true" focusable="false">
          <use href="#icon-close">
        </svg>
      </span>
    </summary>
    <div class="search-modal modal__content gradient" role="dialog" aria-modal="true" aria-label="{{ 'general.search.search' | t }}">
      <div class="modal-overlay"></div>
      
    </div>
  </details>
</details-modal>

 
<details-modal class="header__search search_mob">
  <details>
    <summary class="header__icon header__icon--search header__icon--summary link focus-inset modal__toggle" aria-haspopup="dialog" aria-label="{{ 'general.search.search' | t }}">
      <span>
        <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg" class="modal__toggle-open icon icon-search">
          <g clip-path="url(#clip0_2997_3607)">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M10.7917 6.33325C10.7917 5.98853 10.7238 5.64719 10.5919 5.32871C10.46 5.01023 10.2666 4.72085 10.0229 4.4771C9.77912 4.23334 9.48974 4.03999 9.17127 3.90807C8.85279 3.77615 8.51144 3.70825 8.16672 3.70825C7.822 3.70825 7.48066 3.77615 7.16218 3.90807C6.8437 4.03999 6.55432 4.23334 6.31057 4.4771C6.06681 4.72085 5.87346 5.01023 5.74154 5.32871C5.60962 5.64719 5.54172 5.98853 5.54172 6.33325C5.54172 7.02945 5.81828 7.69712 6.31057 8.18941C6.80285 8.68169 7.47053 8.95825 8.16672 8.95825C8.86291 8.95825 9.53059 8.68169 10.0229 8.18941C10.5152 7.69712 10.7917 7.02945 10.7917 6.33325ZM8.16672 1.95825C8.84893 1.95832 9.52167 2.11793 10.1312 2.42434C10.7407 2.73074 11.2702 3.17543 11.6772 3.72291C12.0842 4.27038 12.3576 4.90546 12.4755 5.57741C12.5933 6.24936 12.5524 6.93956 12.356 7.59289C12.1596 8.24621 11.8131 8.84454 11.3442 9.34009C10.8754 9.83565 10.2971 10.2147 9.65565 10.4469C9.01419 10.6792 8.3273 10.7582 7.64986 10.6777C6.97242 10.5971 6.3232 10.3593 5.75405 9.98317L2.95231 12.7855C2.78816 12.9496 2.56553 13.0419 2.33339 13.0419C2.10125 13.0419 1.87862 12.9496 1.71447 12.7855C1.55032 12.6214 1.45811 12.3987 1.45811 12.1666C1.45811 11.9344 1.55032 11.7118 1.71447 11.5477L4.5168 8.74592C4.08089 8.08652 3.83177 7.32134 3.79592 6.5317C3.76007 5.74205 3.93882 4.95745 4.31318 4.26126C4.68753 3.56507 5.24352 2.98331 5.92204 2.5778C6.60056 2.1723 7.37626 1.9582 8.16672 1.95825Z" fill="white"/>
          </g>
          <defs>
          <clipPath id="clip0_2997_3607">
          <rect width="14" height="14" fill="white" transform="matrix(-1 0 0 1 14 0.5)"/>
          </clipPath>
          </defs>
          </svg>

        <svg class="modal__toggle-close icon icon-close" aria-hidden="true" focusable="false">
          <use href="#icon-close">
        </svg>
      </span>
    </summary>
    <div class="search-modal modal__content gradient" role="dialog" aria-modal="true" aria-label="{{ 'general.search.search' | t }}">
      <div class="modal-overlay"></div>
      <div class="search-modal__content{% if settings.inputs_shadow_vertical_offset != 0 and settings.inputs_shadow_vertical_offset < 0 %} search-modal__content-top{% else %} search-modal__content-bottom{% endif %}" tabindex="-1">
        {%- if settings.predictive_search_enabled -%}
          <predictive-search class="search-modal__form" data-loading-text="{{ 'accessibility.loading' | t }}">
        {%- else -%}
          <search-form class="search-modal__form">
        {%- endif -%}
            <form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form">
              <div class="field">
                <input class="search__input field__input"
                  id="{{ input_id }}"
                  type="search"
                  name="q"
                  value="{{ search.terms | escape }}"
                  placeholder="{{ 'general.search.search' | t }}"
                  {%- if settings.predictive_search_enabled -%}
                    role="combobox"
                    aria-expanded="false"
                    aria-owns="predictive-search-results"
                    aria-controls="predictive-search-results"
                    aria-haspopup="listbox"
                    aria-autocomplete="list"
                    autocorrect="off"
                    autocomplete="off"
                    autocapitalize="off"
                    spellcheck="false"
                  {%- endif -%}
                >
                <label class="field__label" for="{{ input_id }}">{{ 'general.search.search' | t }}</label>
                <input type="hidden" name="options[prefix]" value="last">
                <button type="reset" class="reset__button field__button{% if search.terms == blank %} hidden{% endif %}" aria-label="{{ 'general.search.reset' | t }}">
                  <svg class="icon icon-close" aria-hidden="true" focusable="false">
                    <use xlink:href="#icon-reset">
                  </svg>
                </button>
                <button class="search__button field__button" aria-label="{{ 'general.search.search' | t }}">
                  <svg class="icon icon-search" aria-hidden="true" focusable="false">
                    <use href="#icon-search">
                  </svg>
                </button>
              </div>

              {%- if settings.predictive_search_enabled -%}
                <div class="predictive-search predictive-search--header" tabindex="-1" data-predictive-search>
                  <div class="predictive-search__loading-state">
                    <svg aria-hidden="true" focusable="false" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                      <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                    </svg>
                  </div>
                </div>

                <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
              {%- endif -%}
            </form>
          {%- if settings.predictive_search_enabled -%}
            </predictive-search>
          {%- else -%}
            </search-form>
          {%- endif -%}
        <button type="button" class="search-modal__close-button modal__close-button link link--text focus-inset" aria-label="{{ 'accessibility.close' | t }}">
          <svg class="icon icon-close" aria-hidden="true" focusable="false">
            <use href="#icon-close">
          </svg>
        </button>
      </div>
    </div>
  </details>
</details-modal>
           
            
