{% style %}
  .blogs_artical{
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }

  @media screen and  (max-width:749px){
    .blogs_artical{
    padding-top: {{ section.settings.padding_mob_top }}px;
    padding-bottom: {{ section.settings.padding_mob_bottom }}px;
  }
}
  
{% endstyle %}


<div class="blogs_artical">
  <div class="page-width artical_blocks">
   <div class="left_blog">
    <h1 class="main_title">{{ section.settings.main_title }}</h1>
   {% for block in section.blocks limit:1 %} 
    <div class="left_artical">
      <div class="main_artical">
        <div class="artical_img">
          {%- if block.settings.image -%}
            {%- liquid
              assign height = block.settings.image.width | divided_by: block.settings.image.aspect_ratio | round
              if section.settings.image_behavior == 'ambient'
                assign sizes = '120vw'
                assign widths = '450, 660, 900, 1320, 1800, 2136, 2400, 3600, 7680'
              else
                assign sizes = '100vw'
                assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
              endif
            -%}
            {{
              block.settings.image
              | image_url: width: 3840
              | image_tag: loading: 'lazy', height: height, sizes: sizes, widths: widths
            }}
          {% endif %}
        </div>
        <div class="artical_content">
          <h4 class="artical_title">{{ block.settings.title }}</h4>
          <p class="artical_desc">{{ block.settings.discription }}</p>
          <a href="{{ block.settings.link }}" class="more_detail">{{ block.settings.btn_txt }}</a>
        </div>
      </div>
    </div>
    {% endfor %}
   </div> 
    <div class="btn_with-title btn_with-title-mob ">
       <p class="right_artical_title">{{ section.settings.latest_artical }}</p>
       <a href="{{ section.settings.view_link }}" class="artical_view">{{ section.settings.view_all }}</a>
     </div>
   <div class="right_blog ">
     <div class="btn_with-title btn_with-title-desc">
       <p class="right_artical_title">{{ section.settings.latest_artical }}</p>
       <a href="{{ section.settings.view_link }}" class="artical_view">{{ section.settings.view_all }}</a>
     </div>
   {% for block in section.blocks limit:3 offset:1 %}
    <div class="right_artical">
      <div class="right_main_artical">
        <div class="artical_img">
          
          {%- if block.settings.image -%}
            {%- liquid
              assign height = block.settings.image.width | divided_by: block.settings.image.aspect_ratio | round
              if section.settings.image_behavior == 'ambient'
                assign sizes = '120vw'
                assign widths = '450, 660, 900, 1320, 1800, 2136, 2400, 3600, 7680'
              else
                assign sizes = '100vw'
                assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
              endif
            -%}
            {{
              block.settings.image
              | image_url: width: 3840
              | image_tag: loading: 'lazy', height: height, sizes: sizes, widths: widths
            }}
          {% endif %}
        </div>
        <div class="artical_content">
          <h4 class="artical_title">{{ block.settings.title }}</h4>
          <p class="artical_desc">{{ block.settings.discription }}</p>
          <a href="{{ block.settings.link }}" class="more_detail">{{ block.settings.btn_txt }}</a>
        </div>
      </div>
    </div>
    {% endfor %}
   </div>
    
  </div>
</div>


{% schema %}
  {
    "name": "our resources",
    "settings": [
      {
        "type": "text",
        "id": "main_title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "latest_artical",
        "label": "Right Title Text"
      },
      {
        "type": "text",
        "id": "view_all",
        "label": "text"
      },
      {
        "type": "url",
        "id": "view_link",
        "label": "view link"
      },
      {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 20
      },
      {
      "type": "range",
      "id": "padding_mob_top",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_mob_bottom",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 20
      }
    ],
    "blocks":[
      {
        "type": "blog",
        "name": "artical info",
        "settings": [
          
          {
            "type": "image_picker",
            "id": "image",
            "label": "Artical Image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Artical Title"
          },
          {
            "type": "text",
            "id": "discription",
            "label": "Artical Discription"
          },
          {
            "type": "text",
            "id": "btn_txt",
            "label": "Button Text"
          },
          {
            "type": "url",
            "id": "link",
            "label": "BUtton Linl"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "our resources"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}